## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

g_key="AIzaSyDwwpagvj1s4wEZ8BtvzSWC42tg5m1vbJo"

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [4]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,-54.80,-68.30,39.20,87,100,5.82
1,1,Tuktoyaktuk,CA,69.45,-133.04,55.40,66,75,4.70
2,2,Busselton,AU,-33.65,115.33,62.01,97,20,22.48
3,3,Richards Bay,ZA,-28.78,32.04,57.40,85,14,5.10
4,4,Antofagasta,CL,-23.65,-70.40,55.40,82,70,11.41

In [5]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

In [6]:
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Busselton,AU,-33.65,115.33,62.01,97,20,22.48
8,8,Portland,US,45.52,-122.68,84.99,45,21,1.99
9,9,Nishihara,JP,26.18,127.76,86.00,94,90,20.80
10,10,Albany,US,42.60,-73.97,71.01,96,69,6.73
11,11,Alipur Chatha,PK,32.27,73.82,80.60,88,40,4.70
13,13,Erzin,TR,36.96,36.20,81.00,85,77,5.10
14,14,Kyshtym,RU,55.71,60.55,64.51,74,88,10.27
15,15,Goderich,CA,43.75,-81.72,71.01,93,100,11.52
16,16,Port Lincoln,AU,-34.73,135.87,61.09,61,49,22.50
19,19,Saint-Philippe,RE,-21.36,55.77,62.60,63,2,2.24

In [7]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Country       0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesnâ€™t have empty rows.

In [10]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp    Lat     Lng Hotel Name
2        Busselton      AU     62.01 -33.65  115.33
8         Portland      US     84.99  45.52 -122.68
9        Nishihara      JP     86.00  26.18  127.76
10          Albany      US     71.01  42.60  -73.97
11   Alipur Chatha      PK     80.60  32.27   73.82
13           Erzin      TR     81.00  36.96   36.20
14         Kyshtym      RU     64.51  55.71   60.55
15        Goderich      CA     71.01  43.75  -81.72
16    Port Lincoln      AU     61.09 -34.73  135.87
19  Saint-Philippe      RE     62.60 -21.36   55.77

In [11]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()

    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")
    pass

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != '']
clean_hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Busselton,AU,62.01,-33.65,115.33,Observatory Guest House
8,Portland,US,84.99,45.52,-122.68,Portland Marriott City Center
9,Nishihara,JP,86.00,26.18,127.76,Minshuku Agaihama
11,Alipur Chatha,PK,80.60,32.27,73.82,Tahir Buttiparlar
13,Erzin,TR,81.00,36.96,36.20,Artemis Otel
...,...,...,...,...,...,...
688,Saint-Pierre,RE,62.60,-21.34,55.48,Lindsey HÃ´tel
689,Mangrol,IN,79.84,21.12,70.12,Hotel The Royal Honours
690,Kinel-Cherkassy,RU,63.54,53.47,51.47,"Gostinitsa ""Svetlana"""
691,Hervey Bay,AU,77.00,-25.30,152.85,Shelly Bay Resort
692,Chongqing,CN,78.01,29.56,106.55,Somerset Jiefangbei Chongqing Hotel

In [20]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [23]:
## For 9 a it is asking for Current Weather, yet in other assignment it wanted Current Description so changing name to Current Weather
clean_hotel_df.head()

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Busselton,AU,62.01,-33.65,115.33,Observatory Guest House
8,Portland,US,84.99,45.52,-122.68,Portland Marriott City Center
9,Nishihara,JP,86.00,26.18,127.76,Minshuku Agaihama
11,Alipur Chatha,PK,80.60,32.27,73.82,Tahir Buttiparlar
13,Erzin,TR,81.00,36.96,36.20,Artemis Otel

In [24]:
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

KeyError: 'Current Weather'

In [18]:

## 11a. Add a marker layer for each city to the map
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

## 11b. Display the figure
fig

NameError: name 'locations' is not defined